*{
}
main{ 
}
nav a{
    text-decoration: none;
    padding: 5px;
    margin: 0px 5px 0px 15px;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
input{
    background:url(/img/google-search.png) 8px no-repeat, url(/img/google-microphone.png) 520px no-repeat;
}
footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0 ;
    width: 90%;
}
footer a{
    color: rgb(128, 128, 128);
    text-decoration: none;
    padding: 5px;
    margin: 0px 5px 0px 15px;
    font-family: Arial, sans-serif;
    font-size: 14px
}
#navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#left-links{
    display: flex;
}
#right-links{
    display: flex;
}
#profimg{
    border-radius: 25px;
}
#logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 185px;
}
#search-container{
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-container img{
    position: absolute;
    right: 140px;
}
#searchform{
    height: 40px;
    width: 480px;
    border-radius: 25px;
    padding-left: 40px;
    padding-right: 40px;
}
#submitMain{
    display:flex;
    justify-content: center;
    margin-top: 25px;
}
.submit button{
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: white;
    border: none;
    font-size: 14px;
    color:rgb(128, 128, 128);
}
#footer{
    display: flex;
    padding: 10px;
}
#footer-left{
    display: flex;
    padding-right: 50px;
}
#footer-right{
    display: flex;
    padding-left: 50px;
}