*{
}
main{ 
}
a{
    text-decoration: none;
    padding: 5px;
    margin: 0px 5px 0px 15px;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
input{
    background:url(/img/google-search.png) 8px no-repeat, url(/img/google-microphone.png) 520px no-repeat;

}
#logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 185px;
}
#search-container{
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchform{
    height: 40px;
    width: 480px;
    border-radius: 25px;
    padding-left: 40px;
    padding-right: 40px;    
}
#navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#profimg{
    border-radius: 25px;
}
#left-links{
    display: flex;
    text-decoration: none;
}
#right-links{
    display: flex;
}
#search-container img{
    position: absolute;
    right: 140px;
}