*{
 
}

main{
    
}

#logo-container{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 275px;
}

#search-container{
    background-color: chartreuse;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}